.galleryContainer {
  margin-top: 5rem;
  position: relative;
  overflow: hidden;
}

.mainContainer {
  background-color: rgba(59, 59, 59, 0.5);
  padding: 3rem;
  width: 95%;
  position: relative;
}
.btnWrapper {
  display: flex;
  gap: 4rem;
}
.mainContainer button {
  background: gray;
  padding: 0.5rem 1rem;
  border-radius: 50%;
  font-size: 1rem;
  font-weight: 900;
}

.mainContainer button:hover {
  filter: brightness(50%);
}

.Carousel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.TextContent {
  text-align: left;
}

.TextContent h2 {
  font-size: 3rem;
  margin-top: 1.5rem;
}

.TextContent p {
  text-align: justify;
  font-size: 1.3rem;
  margin-top: 1.5rem;
}

.heading {
  text-align: center;
  font-size: 6rem;
  font-weight: 400;
  color: #fca311;
  text-decoration: underline 1px;
  text-underline-offset: 10px;
  -webkit-box-reflect: below -3.5rem linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.205));
  animation: autoshowanition both;
  animation-timeline: view(10% auto);
}
@keyframes autoshowanition {
  from {
    opacity: 0;
    transform: translateY(200px) scale(0.3);
  }
  to {
    opacity: 1;
    transform: translateY(1) scale(1.3);
  }
}

.container {
  margin: 5rem 0;
  animation: visible both;
  animation-timeline: view(50% 10%);
}

@keyframes visible {
  from {
    opacity: 0;
    transform: translateY(50%) perspective(-400px);
  }
  to {
    opacity: 1;
    transform: translateX(1) perspective(1);
  }
}
.slider {
  display: flex;
  overflow: auto;
  scrollbar-width: 0;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  -ms-overflow-style: none;
  scrollbar-width: none;
  max-width: 1100px;
  width: 300px;
}

.slider::-webkit-scrollbar {
  display: none;
}

.slides {
  margin: 0 20px;
  width: 300px;
  height: auto;
  aspect-ratio: 1/1;
  object-fit: cover;
  scroll-snap-align: center;
  border-radius: 10px;
}

.imagegallery {
  overflow: hidden;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.gallery {
  columns: 2;
  width: 100%;
  /* gap: 10px; */
  overflow: hidden;
  padding: 2rem;
}

.galleryImg {
  height: auto;
  width: 150px;
  margin: 1rem 0;
  object-fit: contain;
}

.imageSelection label {
  font-size: 2rem;
  margin-left: 5%;
}
.imageSelection select {
  outline: none;
  color: #fca311;
  background-color: transparent;
  /* font-size: 2rem; */
}

.imageSelection select option {
  outline: none;
  color: #000;
  background: transparent;
  font-size: 1rem;
}
.dumble {
  position: absolute;
  top: 22%;
  right: -12%;
  rotate: 90deg;
  z-index: -1;
  mix-blend-mode: difference;
}

@media (min-width: 768px) {
  .gallery {
    columns: 4;
  }
}
@media (min-width: 1024px) {
  .mainContainer {
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
    width: 80%;
    border-radius: 0px 20px 20px 0;
  }
  .TextContent {
    width: 50%;
    margin-left: 2rem;
  }
  .TextContent p {
    width: 80%;
    line-height: 2rem;
    font: 2em;
  }
  /* .slider {
    width: 65%;
  } */
  .gallery {
    columns: 7;
  }
}
